body {
  background-color: var(--surface);
}

h1,
h2 {
  color: var(--on-background);
}

#root {
  max-width: 48rem;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
}

input[type='color'] {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 0.3rem;
  background-color: var(--inverse-surface);
}

.surface-variant {
  background-color: var(--surface-variant);
  color: var(--on-surface-variant);
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 16px;
  user-select: none;
}

.color-pickers {
  display: grid;
  grid-template-columns: repeat(auto-fit, 80px);
  margin: auto;
  justify-content: center;
  gap: 2em;
}

.color-pickers > div {
  display: grid;
  place-items: center;
}

.palette {
  margin-top: 2rem;
  height: 20rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5rem 5rem;
  gap: 1em;
}

.container {
  text-align: left;
  padding: 1rem;
  border-radius: 16px;
}

.palette > .container.primary {
  color: var(--on-primary-container);
  background-color: var(--primary-container);
}

.palette > .container.secondary {
  color: var(--on-secondary-container);
  background-color: var(--secondary-container);
}

.palette > .container.tertiary {
  color: var(--on-tertiary-container);
  background-color: var(--tertiary-container);
}

.palette > .container.quaternary {
  color: var(--on-quaternary-container);
  background-color: var(--quaternary-container);
}

.palette > .container.quinary {
  color: var(--on-quinary-container);
  background-color: var(--quinary-container);
}

.palette > .container.senary {
  color: var(--on-senary-container);
  background-color: var(--senary-container);
}

.input-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 0;
  height: 2em;
}

.form-inline {
  gap: 0.4rem;
}

.counter {
  display: grid;
  grid-template-columns: 2rem 2rem 2rem;
  border-radius: 16px;
  border: 1px solid var(--outline);
}

.border-r {
  border-right-style: solid;
  border-right-width: 1px;
}

input[type='number'] {
  /* border: 1px solid var(--outline); */
  width: 2rem;
  text-align: center;
  padding: 0.3rem 0;
}

.copy-to-clipboard-container {
  text-align: center;
}

.copy-to-clipboard-button {
  margin-top: 2rem;
  background-color: var(--primary);
  color: var(--on-primary);
  border-radius: 2em;
  padding: 0.6em 2em;
  align-self: center;
}
